html{
    overflow-x: hidden;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body::before{
content: "ULTIMATE";
width: 800px;
height: 800px;
background: linear-gradient(to bottom, #E4E4E4 , #FAFAFA );
position: absolute;
padding: 0px;
right: 0;
z-index: -1;
font-size: 120px;
font-weight: bold;
color: rgb(255,255,255,1);
transform: rotate(-90deg);
letter-spacing: 10px;
pointer-events: none;

}
.body{
position: relative;
max-width: 100%;
display: flex;
flex-direction: column;
align-items: center;
font-family: sans-serif;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}
.nav>ul{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

li{
   list-style-type: none;
 }
.nav a {
    text-decoration: none;
    color: black;
}
.action{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.presentation{
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
     font-family: "Poppins", sans-serif;
}
.titre h1{
font-size: 45px;
}
.sous-titre{
    color: rgb(178, 178, 156);
    font-family: poppins sans-serif;
}
.shop-now input{
width: 110px;
height: 50px;
background-color: black;
color: white;
text-align: center;
font-size: 20px;
}
.image img{
    width: 750px;
    height: 400px;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.presentation1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.site{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color:black;
    transform: translateY(250px);
    height: 180px;
} 
.product{
    display: flex;
    flex-direction: row;
    transform: translateY(350px);
    padding: 40px;
    gap: 60px;
    position: relative;
}
.popular{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.popular input{
        background-color: black;
        color: white;
        width: 100px;
        height: 40px;

    }
    .Trending{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 0px;

    }
    .Trending hr{
        height: 20px;
        width: 2px;
        background-color: black;
        transform: rotate(90deg);
    }
    
    .shoe-1{
        background-color: #FAFAFA;
        border: 1px solid #DEDEDE;
        border-radius: 30px;
        height: 359px;
        width: 309px;
        display: flex;
        flex-direction: column;
        padding: 60px;
    }
    .shoe-1 img{
        width: 450px;
    height: 450px;
        transform: rotate(15deg);
        opacity: 1;
        top: 1417px;
        left: 548px;
        transform: translate(-120px,-80px);

    }

    .shoe{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .chevron i{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 150px;
    }
    .Lorem{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .Lorem h2{
        font-size: 40px;
    }
    .Lorem input{
        text-align: center;
        box-shadow:0px 30px 40px rgba(0, 0, 0,0.09);
        width: 170px;
        height: 70px;
        font-size: 35px;
        color: #FFFFFF;

    }

    .photoshop{
        border: 2px solid;
        background-color: pink;
        
    }
    .pink{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
     transform: translateY(460px);
     justify-content: space-between;
     
    
}
.photos {
    transform: translateY(-420px);
}
.images{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.deux{
     background-color: #FAFAFA;
        border: 1px solid #DEDEDE;
        border-radius: 10px;
        height: 90px;
        width: 90px;
        display: flex;
        flex-direction: row;
}
.deux img{
    width: 200px;
    height: 200px;
    transform: translate(-55px,-20px);
}
.design{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px;
}
.ipsum{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 14px;
    
}
.ipsum input{
    width: 150px;
    height:60px ;
    text-align: center;
    font-size: 24px;
    color: #FD8B92;

}

.selling{

    transform: translate(-2px);
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0px;
    justify-content: center;
    font-family: sans-serif;
    
}
.selling hr{
        height: 50px;
        width: 6px;
        background-color: black;
        transform: rotate(90deg);

    }


.input{
    transform: translate(300px,-100px);
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 200px;
}
.input input{
    text-align: center;
    font-size: 14px;

    
}
.input input:nth-child(1){
background-color: black;
width: 150px;
height: 70px;
color: white;
text-align: center;
font-size: 28px;
}
.input input:nth-child(2){
    width:200px ;
    height: 70px;
    text-align: center;
    font-size: 28px;

}
.input input:nth-child(n+3){
    width:100px ;
    height: 70px;
    text-align: center;
    font-size: 28px;

}
.modele{
    display: flex;
    flex-direction: column;
    gap: 40px; 
    transform: translateY(-140px);
    padding: 50px;
}
.modele1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
.chaussure{
     width: 400px;
    height: 500px;
    background-color: #FAFAFA;
    border: 1px solid #DEDEDE;
    border-radius: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    

}

.chaussure img{
    width: 400px;
    height: 400px;
}
.money{
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translate(80px,-60px);
     font-family: "Poppins", sans-serif;
}
.money h3{
    transform: translateY(-20px);
}

.prix{
    display: flex;
    flex-direction: row;
    gap: 40px;
    transform: translateY(-40px); 

}
.prix1{
    font-size: 18px;
}
.prix2{
    font-size: 14px;
}
.prix2 hr {
    width: 73px;
    transform: translate(6px,10px);
}
.customize{
    transform: translateY(-80px);
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0px;
    justify-content: center;
}
.customize hr{
     height: 50px;
        width: 4px;
        background-color: black;
        transform: rotate(90deg);
}
.personnalite{
    transform: translateY(40px);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
   
}
.personnalite1{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 700px;
height: 304px;
background-color: #FAFAFA;
border: 1px solid #f3f3f3;
border-radius: 40px;
padding: 60px;
}
.star{
    color: #FFB800;

}
.photo img{
    width: 300px;
    transform: translateY(-20px);

}
.description{
    display: flex;
    flex-direction: column;
    transform: translateY(-20px);
    gap: 20px;
}

.last-block{
    transform: translateY(200px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    border-radius: 4px;
    background-color: black;
    padding: 40px;
}
.block1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.paragraphe{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}
.font-awesome i{
    color: white;
    font-size: 40px;
}
.block2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscribe{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.placeholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 400px;
    height: 60px;
    padding: 20px;
}
.placeholder input{
    flex: 1;
    border: none;
    font-size: 16px;
    outline: none;
}
.placeholder button{
    background: transparent;
    border: none;
    font-weight: blod;
    border-left: 1px solid;
    cursor: pointer;
    padding: 10px;
}
.lien a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transform: translateX(-100px);
}
.lien hr{
    width: 90px;
}
.lien{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.block3{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}
.pink::after{
content: "SICK";
width: 1600px;
height: 500px;
position: absolute;
padding: 0;
right: 0;
z-index: -1;
font-size: 400px;
font-weight: bold;
color: rgb(255,255,255,0.1);
font-family: sans-serif;
letter-spacing: 50px;
pointer-events: none;
background: #FD8B92;
border-radius: 20px;
}
.chevron1 i{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 150px;
        transform: translateY(150px);
    }
    .badge{
        display: inline-block;
        background-color: black;
        color: white;
        padding: 8px 16px;
        font-family: arial;
        font-weight: bold;
        border-top-left-radius: 0;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
       transform: translateX(100px);
        transform: translateY(50px);
    }
    .shoe_hight{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 400px;
        height: 900px;
    }
    .heart{
        transform: translateY(50px);
        font-size: 30px;
    }
    .arrow-up{
        transform: rotate(45deg);
        font-size: 40px;
    
    }
    .span-il{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-30px);
        font-size: 18px;
    
    }
    .span-i{
        transform: rotate(45deg);
        font-size: 30px;
    }

    .span p{
        transform: translateY(-40px);
        font-size: 18px;
    }
    .span{
        transform: translateY(-200px);
    }





   






/* .hight h2 {
    padding: 0px;
    margin-bottom: 25px;
    margin: 10px;
    margin-right: 150px;
}
.hight p:last-child{

    margin-left: 200px;
}
i{
   margin:20px;
}
.special{
    display: flex;
}

.special p {
margin-top: 100px;
font-family: Arial, sans-serifpx,sans-serif ;
font-size: 50px;
}
.place{
    margin-bottom: 00px;
}
.images{
display: flex;
flex-direction: column;
margin: 0%;
}
.images p{
    margin-right:200px;
    text-align: center;
}
.body input{
    background-color: black;
    width: 150px;
    height: 50px;
    color: white;
    border-radius:2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.jeune{
    display: flex;}
#cool{
    background-color: black;
    width: 100% ;
    height: 100px;
     position: relative;
}
.id{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color:black;

}     
    hr{
        width: 40px;
        height: 0px;
        margin-left: 00px;
    }
    .pop{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

    }
    .pop p{
        margin-right:89%;
    }
    .popular input{
        background-color: black;
        color: white;
        width: 100px;
        height: 40px;
    }
    .popular input{
        display: flex;
    }

    .log{
        display: flex;
        width: 100%;
    
    }
   .portrait {
    background-color:blue;
    width: 20%;
    height: 100px;
    border-radius:10px ;
    position: relative;
   }  
   .portrait img {
    position: absolute;
    right: 50px;
    left: 90px;
    top: 0;
    bottom:30px;
    transform: translate(-50%);
    width: 300px;
    height: 300px;
   }
   .portrait p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 180px;
   }
   .log{
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;

   }
   .log i {
    position: absolute;
    top: 140px;
    left: 200px;
   }
   .log i :last-child{
    position: absolute;
    top: 140px;
    right: 200px;
   }

   .global{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 300px;
    left: 200px;
   }
   .global i{
     position: absolute;
    top: 140px;
    right: 200px;
   }
   .chevron{
    display: flex;
    flex-direction: column;
    bottom: 10px;
   }
.rose{
    background-color:rgb(195, 117, 130);
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1500px;
    height: 600px;
}
.papa img{
position: absolute;
bottom: 80px;

}
.lot{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 700px;
    bottom: 30px;
    color: beige;
}
.lot input{
    width: 150px;
    height: 50px;
    color: rgb(171, 105, 116);
    text-align: center;

}
.lot img{
    margin-right: 10px;
}
.femme{
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.femme span{
    font-size: 45px;
}
.femme hr{
    background-color: black;
    border: 10px;
    height: 2px;
    width: 20%;

}


.input{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1px;
    padding: 200px;
    background-color: blue;
}
.input input{
    width: 80px;
    height: 40px;
}
.products-1{
    display: flex;
    flex-direction: row;
}
.products-2{
    display: flex;
    flex-direction: row;
}
.midi{
    background-color: pink;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
}
hr{
    flex: 1;
    border: none;
    border-top: 1px solid black;
    margin: 0 10px;
}
.personnalite{
    background-color:#eee;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 10px;
    border: 60px;
    
}
.photo{
    position: absolute;
    top: 100px;
}
.description{
    position: absolute;
    top: 100px;
    right: 100px;
} .log{
    gap: 150px;
    margin: 100px;
}
.to{
    background-color:black;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin: 100px;

    
}
.premier{
    position: absolute;
    left: 50px;
    bottom: 80px;
    top: 80px;

}
.deux{
    position: absolute;
    left: 600px;
    bottom: 80px;
    top: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.peuple{
    position: absolute;
    top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.peuple hr{
    background-color:white;
    width: 80px;
    height: 1px;

}

.trois{
    color: beige;
    position: absolute;
    bottom: 80px;
    right: 180px;
    top: 80px;
}
    

   







 */
