form{
     background-color: #7c0769; 
     opacity:85%;
    box-shadow: 5px 5px 10px rgb(83, 5, 35);
    border:solid  #7c0769;
    width: 150px;
    min-height: 100px;
    position:relative;
    top:200px;
    padding: 90px;
    left:530px;
    border-radius: 12px;
    font-family: sans-serif;
}
label{
    padding-left: -10px;
    font-size: 20px ;
    padding-bottom: 50px;
    margin-bottom: 30px;
    
}
input{
    font-weight: 20px;
   height: 25px;
   border: none;
}
button{
    width:70px;
    background-color: #ec9cfe;
    padding: 7px;
    margin-left:40px;
    border:none;
    margin-bottom: 50px;
    position: relative;
    top:60px;
}
h3{
    position: relative;
    font-size: 12px;
    font-style: normal;
   top:40px
}
a{
    color: #ec9cfe;
     position: relative;
    font-size: 12px;
    font-style: normal;
   top:10px;
   left:130px;
}